@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito-Black';
    src: url("../assets/fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: 'Nunito';
    src: url("../assets/fonts/Nunito/Nunito-Medium.ttf");
}

* {
    font-family: 'Nunito-Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-image {
    background-image: url('../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.font-normal {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

.custom-radio:checked {
    background-color: white; 
    border-color: white;
}

.custom-radio {
    appearance: none;
    border: 2px solid white;
    background-color: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 9999px;
    transition: background-color 0.2s;
}

.player-list {
    overflow-y: auto;
    max-height: 300px;
}

.player-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 30px;
}

.player-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.player-list::-webkit-scrollbar-thumb {
    background: #8b5cf6;
    border-radius: 10px;
}

.player-list::-webkit-scrollbar-thumb:hover {
    background: #7c3aed;
}

.player-list {
    scrollbar-width: thin;
    scrollbar-color: #8b5cf6 transparent;
}