@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito-Black';
    src: url("../assets/fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: 'Nunito';
    src: url("../assets/fonts/Nunito/Nunito-Medium.ttf");
}

* {
    font-family: 'Nunito-Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-image {
    background-image: url('../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.font-normal {
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}